#services {
  height: 850px;
  background-color: white;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding-bottom: 50px;
}

.cards-container {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.card {
  height: 100%;
  background-color: var(--lightgrey-color);
  display: grid;
  grid-template-rows: 60% 40%;
}

.img-service {
  position: relative;
}

.img-service img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  text-align: center;
}

.title-info-service {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 20px 15px;
  text-align: right;
}

.title-service {
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
}

.info-service {
  margin: 5px;
  line-height: 130%;
}

@media (max-width: 680px) {
  #services {
    height: 1800px;
  }

  .cards-container {
    height: 1500px;
    grid-template-columns: 1fr;
    row-gap: 50px;
    width: 80%;
  }

  .card {
    height: 450px
  }
}